.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.btn{
    font-size: 15px;
    padding: 8px 25px;
    border: solid 1.5px rgb(237, 46, 3);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(240, 85, 50); ;
    
    color: rgb(250, 248, 248);
}
.btn:hover{
   font-weight: bold;
   background-color: rgb(213, 74, 43);
    color: rgb(248, 248, 241);
}
.form-input{

    padding: 8px 25px;
    font-size: 15px;
    margin-right: 10px;
  border: solid 1.5px black;
  border-radius: 5px;
}